[tool.poetry]
name = "orthogram"
version = "0.4.2"
description = "Draw block diagrams."
license = "GPL-3.0-or-later"
authors = ["Georgios Athanasiou <yorgath@gmail.com>"]
maintainers = ["Georgios Athanasiou <yorgath@gmail.com>"]
readme = "README.rst"
repository = "https://github.com/yorgath/orthogram"
documentation = "https://readthedocs.org/projects/orthogram/"
keywords = ["block", "diagram", "graph"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Topic :: Utilities",
]

[tool.poetry.dependencies]
python = "^3.7"
networkx = "^2.5"
Shapely = "^1.7.1"
PyYAML = "^5.3.1"
svgwrite = "^1.4"

[tool.poetry.dev-dependencies]
mypy = "^0.790"
Sphinx = "^3.4.1"
sphinx-rtd-theme = "^0.5.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
