[tool.poetry]
name = "orthogram"
version = "0.2.0"
description = "Draw diagrams of graphs."
license = "GPL-3.0-or-later"
authors = ["Georgios Athanasiou <yorgath@gmail.com>"]
maintainers = ["Georgios Athanasiou <yorgath@gmail.com>"]
readme = "README.rst"
repository = "https://github.com/yorgath/orthogram"
keywords = ["diagram", "graph"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Topic :: Utilities",
]

[tool.poetry.dependencies]
python = "^3.8"
python-igraph = "^0.8.3"
pyyaml = "^5.3.1"
shapely = "^1.7.1"
svgwrite = "^1.4"

[tool.poetry.dev-dependencies]
pytest = ">=5.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
